body {
    background: #333333;
}

.equalizer {
	display: flex;
    align-items: flex-end;
    height: 200px;
    margin: 30px;
}

.equalizer>div {
    width: 30px;
    margin: 4px;
    background: repeating-linear-gradient(180deg, transparent, transparent 18px, #333333 18px, #333333 20px),  linear-gradient(180deg, #FFCD55, #FF8D02);
    border-radius: 5px 5px 0 0;
}

.equalizer div:nth-of-type(1){
    height: 50%;
}

.equalizer div:nth-of-type(2){
    height: 20%;
}

.equalizer div:nth-of-type(3){
    height: 80%;
}

.equalizer div:nth-of-type(4){
    height: 100%;
}

.equalizer div:nth-of-type(5){
    height: 50%;
}

.equalizer div:nth-of-type(6){
    height: 30%;
}