.main {
	position: relative;
}

.header {
	padding: 10px;
	font-size: 20px;
	font-weight: normal;
	background-color: #008B66;
	color: #fff;
}

.text {
	position: absolute;
	left: 30px;
	top: 20px;
	padding: 10px;
	background-color: #ddd;
	box-shadow: -1px -1px 0 1px #fff;
}